
#wb_header { height: 100px; }
#wb_header > .wb_cont_bg { background-color: transparent; }
#wb_header > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_main { height: 1101px; padding-bottom: 70px; }
#wb_main > .wb_cont_bg { background-color: transparent; }
#wb_main > .wb_cont_bg:before { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 240px; background-color: #000000; }
#wb_footer:before { background: transparent none repeat left top; background-size: auto auto; }
html { scroll-behavior: smooth; }
body { background-color: #ffffff; }
body.site:before { background: transparent none repeat-x scroll center bottom; background-size: auto auto; }
.wb_sbg { background: transparent none no-repeat center top; }
body, .wb_sbg { min-width: 1200px; min-height: 1441px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1441px; min-height: 1441px; }
#wb_element_instance52 { top: 2px; left: 390px; min-width: 790px; width: 790px; min-height: 38px; height: 38px; display: block; z-index: 465; }
#wb_element_instance52 > ul { display: block; }
#wb_element_instance52 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance52, #wb_element_instance52 ul { text-align: right; }
#wb_element_instance52 ul ul { background: #f2f2f2 none repeat left top; }
#wb_element_instance52 li { margin: 0px 10px 0px 10px; }
#wb_element_instance52 li a { text-transform: uppercase; border-top: 1px none #ffffff; border-right: 0px none #000000; border-bottom: 0px none #000000; border-left: 0px none #000000; padding: 10px 10px 10px 10px; font: normal normal 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 18px; background: transparent none repeat-x left center; }
#wb_element_instance52 li.over > a, #wb_element_instance52 li:focus > a { border-top: 1px solid #ffffff; border-right: 0px none #000000; border-bottom: 0px none #000000; border-left: 0px none #000000; font: normal normal 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #616161; line-height: 18px; background: transparent none repeat-x center top; }
#wb_element_instance52 li.active > a { border-top: 1px solid #ffffff; border-right: 0px none #000000; border-bottom: 0px none #000000; border-left: 0px none #000000; font: normal bold 16px Arial,Helvetica,sans-serif; text-decoration: none; color: #363636; line-height: 18px; background: transparent none repeat-x center top; }
#wb_element_instance52:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance52:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance52:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance53 { top: -10px; left: 30px; min-width: 110px; width: 110px; min-height: 110px; height: 110px; display: block; z-index: 260; overflow: hidden; }
#wb_element_instance53 img { width: 188px; height: 188px; display: block; position: relative; left: -40px; top: -18px; max-width: inherit; }
#wb_element_instance54 { top: -3px; left: 0; right: 0; min-height: 10px; height: 10px; display: block; z-index: 266; }
#wb_element_instance54 > .wb_shp { display: block; background-color: #404040; border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 10px; }
#wb_element_instance54 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance55 { top: -60px; left: 0; right: 0; min-height: 370px; height: 370px; display: block; z-index: 65; }
#wb_element_instance55 > .wb_shp { display: block; background-color: transparent; border: 1px none #000000; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 370px; }
#wb_element_instance55 > .wb_shp:before { background: transparent url("../gallery_gen/d6bf127a323ef45bd74b65b0e1b1a265.png") repeat-x scroll center center; background-size: cover; opacity: 1; }
#wb_element_instance56 { top: 40px; left: 20px; min-width: 160px; width: 160px; min-height: 24px; height: 24px; display: block; z-index: 500; }
#wb_element_instance57 { top: 30px; left: 780px; min-width: 140px; width: 140px; min-height: 80px; height: 80px; display: block; z-index: 508; }
#wb_element_instance58 { top: 30px; left: 950px; min-width: 170px; width: 170px; min-height: 64px; height: 64px; display: block; z-index: 509; }
#wb_element_instance59 { top: 100px; left: 20px; min-width: 1180px; width: 1180px; min-height: 89px; height: 89px; display: block; z-index: 399; }
#wb_element_instance60 { top: 579px; left: 625px; min-width: 255px; width: 255px; min-height: 24px; height: 24px; display: block; z-index: 376; }
#wb_element_instance61 { top: 579px; left: 20px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; z-index: 378; }
#wb_element_instance62 { top: 579px; left: 924px; min-width: 255px; width: 255px; min-height: 24px; height: 24px; display: block; z-index: 379; }
#wb_element_instance63 { top: 579px; left: 323px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; z-index: 380; }
#wb_element_instance64 { top: 495px; left: 20px; min-width: 260px; width: 260px; min-height: 40px; height: 40px; display: block; z-index: 381; }
#wb_element_instance65 { top: 497px; left: 323px; min-width: 260px; width: 260px; min-height: 40px; height: 40px; display: block; z-index: 382; }
#wb_element_instance66 { top: 497px; left: 625px; min-width: 256px; width: 256px; min-height: 40px; height: 40px; display: block; z-index: 383; }
#wb_element_instance67 { top: 495px; left: 924px; min-width: 256px; width: 256px; min-height: 40px; height: 40px; display: block; z-index: 384; }
#wb_element_instance68 { top: 533px; left: 20px; min-width: 260px; width: 260px; min-height: 34px; height: 34px; display: block; z-index: 385; }
#wb_element_instance69 { top: 532px; left: 323px; min-width: 260px; width: 260px; min-height: 34px; height: 34px; display: block; z-index: 386; }
#wb_element_instance70 { top: 530px; left: 625px; min-width: 256px; width: 256px; min-height: 34px; height: 34px; display: block; z-index: 387; }
#wb_element_instance71 { top: 530px; left: 924px; min-width: 256px; width: 256px; min-height: 34px; height: 34px; display: block; z-index: 388; }
#wb_element_instance72 { top: 242px; left: 330px; min-width: 253px; width: 253px; min-height: 253px; height: 253px; display: block; z-index: 389; }
#wb_element_instance72 img { width: 253px; height: 253px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance73 { top: 242px; left: 630px; min-width: 253px; width: 253px; min-height: 253px; height: 253px; display: block; z-index: 391; }
#wb_element_instance73 img { width: 253px; height: 253px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance74 { top: 240px; left: 20px; min-width: 255px; width: 255px; min-height: 255px; height: 255px; display: block; z-index: 392; }
#wb_element_instance74 img { width: 255px; height: 255px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance75 { top: 242px; left: 925px; min-width: 253px; width: 253px; min-height: 253px; height: 253px; display: block; z-index: 393; }
#wb_element_instance75 img { width: 253px; height: 253px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance76 { top: 1007px; left: 470px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; z-index: 390; }
#wb_element_instance77 { top: 925px; left: 470px; min-width: 260px; width: 260px; min-height: 40px; height: 40px; display: block; z-index: 394; }
#wb_element_instance78 { top: 960px; left: 470px; min-width: 283px; width: 283px; min-height: 34px; height: 34px; display: block; z-index: 395; }
#wb_element_instance79 { top: 670px; left: 477px; min-width: 253px; width: 253px; min-height: 253px; height: 253px; display: block; z-index: 396; }
#wb_element_instance79 img { width: 253px; height: 253px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance80 { top: 90px; left: 0; right: 0; min-height: 110px; height: 110px; display: block; z-index: 398; }
#wb_element_instance80 > .wb_shp { display: block; background-color: rgba(0, 0, 0, 0.55); border: 5px none #c0c0c0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 110px; }
#wb_element_instance80 > .wb_shp:before { background: transparent none repeat scroll left top; background-size: auto auto; opacity: 1; }
#wb_element_instance81 { top: 130px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance53 { opacity: 1; border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px; border: 5px none #d1d1d1; box-sizing: border-box; overflow: hidden; }
#wb_element_instance56 p:last-child { margin-bottom: 0; }
#wb_element_instance56 { opacity: 1; }
#wb_element_instance57 p:last-child { margin-bottom: 0; }
#wb_element_instance57 { opacity: 1; }
#wb_element_instance58 p:last-child { margin-bottom: 0; }
#wb_element_instance58 { opacity: 1; }
#wb_element_instance59 p:last-child { margin-bottom: 0; }
#wb_element_instance59 { opacity: 1; }
#wb_element_instance60 p:last-child { margin-bottom: 0; }
#wb_element_instance60 { opacity: 1; }
#wb_element_instance61 p:last-child { margin-bottom: 0; }
#wb_element_instance61 { opacity: 1; }
#wb_element_instance62 p:last-child { margin-bottom: 0; }
#wb_element_instance62 { opacity: 1; }
#wb_element_instance63 p:last-child { margin-bottom: 0; }
#wb_element_instance63 { opacity: 1; }
#wb_element_instance64 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #303030;; }
#wb_element_instance65 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #303030;; }
#wb_element_instance66 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #303030;; }
#wb_element_instance67 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #303030;; }
#wb_element_instance68 p:last-child { margin-bottom: 0; }
#wb_element_instance68 { opacity: 1; }
#wb_element_instance69 p:last-child { margin-bottom: 0; }
#wb_element_instance69 { opacity: 1; }
#wb_element_instance70 p:last-child { margin-bottom: 0; }
#wb_element_instance70 { opacity: 1; }
#wb_element_instance71 p:last-child { margin-bottom: 0; }
#wb_element_instance71 { opacity: 1; }
#wb_element_instance72 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance73 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance74 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance75 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }
#wb_element_instance76 p:last-child { margin-bottom: 0; }
#wb_element_instance76 { opacity: 1; }
#wb_element_instance77 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #303030;; }
#wb_element_instance78 p:last-child { margin-bottom: 0; }
#wb_element_instance78 { opacity: 1; }
#wb_element_instance79 { opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 1px none #000000; box-sizing: border-box; overflow: hidden; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
